.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85% !important;
    overflow: hidden;
    margin-top: 100px;
    min-height: 85vh;
    .calendario{
        background-color: white !important;
        width: 85%;
        display: flex;
        flex-direction: column;
    }
    
 
}


.buttons{
    display: flex;
    align-self: flex-start;      
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 80px;
    button{
        margin-right: 10px;
    }
}


 


