.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85% !important;
    min-height: 100vh;
    margin-top: 90px;
    .calendario{
        background-color: white !important;
        width: 90%;
        display: flex;
        margin-top: 0px;
        flex-direction: column;
    }
    
 
}

.header{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0 !important;
    border-radius: 10px;
    .buttons{

        width: 100%;
        background-color: transparent;
        border: none;
         &:focus{
          background-color: transparent;
          box-shadow: none;
         }
         
         &:hover, &:active{
            background-color: #744E7C !important;
            box-shadow: none !important;
         }
    }

    h3{
        color:white;
        font-weight: bold;
    }

}
 


