
.alta-albums{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #38126E;
    border-radius: 10px;
    
    h3{
        color:white;
        font-weight: bold;
        margin-top: 10px;
    }

    &__fotos{
        background-color: #9A7DAF;
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    
    &__titulo{
         width: 80%;
         input{
             font-size: 20px;
             background-color: transparent;
             border: none;
             border-bottom: 1px solid white;
             border-radius: 0;
             color: white !important;
            &:focus{
                background-color: transparent;
                box-shadow: none;
            }

             &::placeholder{
                 color: white;
             }
         }
    }


    &__buttons{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 80%;
        
        
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            margin-top: 10px;
            background-color: transparent;
            border: none;
            &:hover{
                background-color: transparent;
            }
            &:focus{
                background-color: transparent;
                border: none;
                box-shadow: none;
            }

            &:active{
                background-color: #9869D9 !important;
                border: none !important;
                box-shadow: none !important;
            }
        }
    }

    
}

.edit-album{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #38126E;
    border-radius: 10px;
    
    &__divider{
        height: 1px;
        width: 100%;
        background-color: white;
        margin-bottom: 10px;
    }

    h2{
        font-size: 40px;
        color: white;
        margin-top: 10px;
        font-weight: bold;
    }

    &__input{
        width: 90%;
        margin-top: 10px;

        input{
            background-color: transparent;
            border: none;
            border-bottom: 1px solid white;
            border-radius: 0;
            font-size: 25px;
            color: white !important;
            &:focus{
                background-color: transparent;
                box-shadow: none;
            }

             &::placeholder{
                 color: white;
             }

        }

    }

    &__buttons{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        >button{
            margin-right: 10px;
        }

        button{
            width:50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border-radius: 50%;
            border: none;

            &:hover{
                background-color: transparent;
            }
            &:focus{
                background-color: transparent;
                border: none;
                box-shadow: none;
            }

            &:active{
                background-color: #9869D9 !important;
                border: none !important;
                box-shadow: none !important;
            }

        }

    }

    &__spinner{

        margin-bottom: 15px;
    }
}

.eliminar-album{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    background-color: #38126E;
    border-radius: 10px;


    &__titulo{
        
        h2{
            font-size: 20px;
            font-weight: bold;
            color: white;
            margin-top: 20px;
        }

       

    }

    &__divider{
        height: 1px;
        width: 100%;
        background-color: white;
        margin-bottom: 10px;
    }

    &__buttons{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
         
         >button{
             margin-right: 10px;
         }
         
         button{
             width: 50px;
             height: 50px;
             border-radius: 50%;
             background-color: transparent;
             display: flex;
             justify-content: center;
             align-items: center;
             border: none;

             &:focus, &:hover{
                 background-color: transparent;
                 box-shadow: none;
                 border: none;
            }

            &:active {
                background-color: #9869D9 !important;
                box-shadow: none !important;
                border:none;
            }
                 

         }
    }

    &__spinner{
        margin-bottom: 15px;
    }
}