.sidebar{
    background-color: #150A24;
    min-height: 100vh;
    border-right: 1px solid #8868B3;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
   
     
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        color: white;
        text-decoration: none;
        border: none;
        padding: 0;
        
        
        &:hover{
            text-decoration: none;
        }

         
        &.list-group-item.list-group-item-action{
            background-color: #150A24;
            
            &:active, &:focus{
                border:none;
                outline: none;
            }

        }   

    }
   

    .pressed{
        font-size: 55px;
        color: blue;
        font-weight: bold;
    }
}