 
 .modal-dialog.modal-lg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;

    .modal-content{
        background: transparent;
        align-items: center;
        justify-content: center;
        width: 500px !important;
        height: 400px !important;
        border-radius: 10% !important;
        flex-direction: column;
        overflow: hidden;
        align-self: center;

        h3{
            font-size: 50px;
            margin-top: 50px;
            color: white;
            font-family: Helvetica, sans-serif;
            font-weight: bold;
        }
 
        .modal-body{
            width: 80%;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        

            input{
                width: 300px;
                outline: none !important;
                border: none !important;
                background: transparent;
                color: white;
                font-size: 20px;
                font-weight: bold;
                border-bottom: 1px solid white !important;
                border-radius: 0;

             
                
                &:focus, &:active{
                     border: 0;
                     box-shadow: none;
                     outline: none;
                }

                &::placeholder{
                color: white;
                }
                    
            }
                

            .button-div.form-group{
                display: flex;
                justify-content: center;
                align-items: center;
            
                button{
                    width: 300px;
                    background-color: transparent;
                    font-weight: bold;
                    font-size: 25px;
                    border: none;
                 
                    &:focus{
                        box-shadow: none !important;
                       
                    }

                    &:active, &:visited{
                        background-color:#9869D9 !important;
                    }
                    
                    &:hover{
                        background-color: #6F34C1;
                        color: white;
                    }

                }

                         
                    
            }
       
        
        }

         
     }

 

    }