@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
    
    
    .modal-content{
        background: rgb(123,36,28);
        background: linear-gradient(90deg, rgba(123,36,28,1) 35%, rgba(146,43,33,1) 50%, rgba(146,43,33,1) 100%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
        align-items: center;
        justify-content: center;
        width: 400px !important;
        height: 300px !important;
        border-radius: 10% !important;
        flex-direction: column;
        overflow: hidden;
        

        h3{
            font-size: 50px;
            margin-top: 50px;
            color: white;
            font-family: 'Notable', sans-serif;
        }
 
        .modal-body{
            width: 80%;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        

            input{
                width: 300px;
                outline: none !important;
                border: none !important;
                background: rgb(123,36,28);
                background: linear-gradient(90deg, rgba(123,36,28,1) 35%, rgba(146,43,33,1) 50%, rgba(146,43,33,1) 100%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
                color: white;
                font-size: 20px;
                font-weight: bold;
                border-bottom: 1px solid #7F1515 !important;
                
                &:focus, &:active{
                     border: 0;
                     box-shadow: none;
                     outline: none;
                }

                &::placeholder{
                color: white;
                }
                    
            }
                

            .button-div.form-group{
                display: flex;
                justify-content: center;
                align-items: center;
            
                button{
                    width: 400px;
                    background-color: transparent;
                    font-weight: bold;
                    font-size: 25px;
                    border: none;
                 
                    &:focus{
                        box-shadow: none !important;
                       
                    }

                    &:active, &:visited{
                        background-color:#C0392B !important;
                        box-shadow: #C0392B;
                    }
                    
                    &:hover{
                        background-color: #922B21;
                        color: white;
                    }

                }

                         
                    
            }
       
        
        }

         
     }

 